---
title: Speak Bridge
layout: "default"
---

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<div class= "conatiner">
  <div class="header clearfix">
    <nav>
      <img class="main-logo" src="images/bridge-logo.svg">
      <h4 class="text-muted">
        <span class="orng-text">Bridge</span> Social Translation for Social Media.
      </h4>

      <ul class="nav nav-pills pull-right">
        <li><a class = "btn-round btn-facebook" href="http://facebook.com/speakbridge" target="_blank"></a></li>
        <li><a class = "btn-round btn-twitter" href="http://facebook.com/speakbridge" target="_blank"></a></li>
        <li><a class = "btn-round btn-newsletter" href="http://facebook.com/speakbridge" target="_blank"></a></li>
        <div class="newsletter-menu">
      </ul>
    </nav>
  </div>
</div>


<div class="jumbotron">
  <div class="container">
    <h1><span class="orng-text">Bridge</span><span class="grey-text"> projects</span></h1>

    <span class="row">
      <p><a class="btn" href="#" role="button">Learn more</a></p>
    </span>

    <span class="row">
      <p><a class="btn" href="#" role="button">Start Translating</a></p>
    </span>
    <span class="row">
    <p><a class="btn btn-red" href="#" role="button">See our projects &raquo;</a></p>
    </span>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div> -->

<!-- Project ONE -->

      <div class="jumbotron-narrow">
        <h1>#outofedenwalk</h1>
        <p class="lead">This is placeholder text descring the Bridge project about something that contains some things and some other things. You probably should read this second line of text to understand it, and just to make sure you do I’m writing this extra line.</p>

        <div class="row">
          <img class="translator-avatar" src="images/sarah.png">
          <img class="translator-avatar" src="images/anxiao.png">
          <img class="translator-avatar" src="images/boanerges.png">
          <img class="translator-avatar" src="images/caiosba.png">
          <img class="translator-avatar" src="images/clarissa.png">
          <img class="translator-avatar" src="images/mvlindsey.png">
          <img class="translator-avatar" src="images/nora.png">
          <img class="translator-avatar" src="images/tom.png">
        </div>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Check it out</a></p>
      </div>


<!-- Project TWO -->

      <div class="jumbotron-narrow">
        <h1>#outofedenwalk</h1>
        <p class="lead">This is placeholder text descring the Bridge project about something that contains some things and some other things. You probably should read this second line of text to understand it, and just to make sure you do I’m writing this extra line.</p>

        <div class="row">
          <img class="translator-avatar" src="images/sarah.png">
          <img class="translator-avatar" src="images/anxiao.png">
          <img class="translator-avatar" src="images/boanerges.png">
          <img class="translator-avatar" src="images/caiosba.png">
          <img class="translator-avatar" src="images/clarissa.png">
          <img class="translator-avatar" src="images/mvlindsey.png">
          <img class="translator-avatar" src="images/nora.png">
          <img class="translator-avatar" src="images/tom.png">
        </div>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Check it out</a></p>
      </div>


<!-- PROJECT THREE -->
      <div class="jumbotron-narrow">
        <h1>#outofedenwalk</h1>
        <p class="lead">This is placeholder text descring the Bridge project about something that contains some things and some other things. You probably should read this second line of text to understand it, and just to make sure you do I’m writing this extra line.</p>

        <div class="row">
          <img class="translator-avatar" src="images/sarah.png">
          <img class="translator-avatar" src="images/anxiao.png">
          <img class="translator-avatar" src="images/boanerges.png">
          <img class="translator-avatar" src="images/caiosba.png">
          <img class="translator-avatar" src="images/clarissa.png">
          <img class="translator-avatar" src="images/mvlindsey.png">
          <img class="translator-avatar" src="images/nora.png">
          <img class="translator-avatar" src="images/tom.png">
        </div>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Check it out</a></p>
      </div>


  <!-- FOOTER PORTION     -->

      <div class="row marketing">
        <div class="col-sm-3">
          <p>"With Bridge, Meedan hopes to convey the nuances of language that often get lost in the machine translations that the social networks currently use."</p>
          <p>-Nieman Lab, Joseph Lichterman</p>
        </div>
        <div class="col-sm-3">
          <p>“A totally new way of doing this. It is really, really great."</p>
        </div>
        <div class="col-sm-3">
          <p>“My favorite way to translate social media.”</p>
        </div>
        <img src="images/app-store-badge-135x40.svg">
        <img class="meedan-logo" src="images/meedan-logo-nav.svg">

      </div>



<!-- Here is the script for expanding and collapsing -->
<script type="text/javascript">
</script>
