---
title: Speak Bridge
layout: "default"
---

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>




<!-- Here is the script for expanding and collapsing -->
<script type="text/javascript">

$(document).ready( function(){
    $('.btn-newsletter').click( function(event){
        event.stopPropagation();
        $('.newsletter-menu').toggle();
    });

    $('body').click(function(event) {
    if (!$(event.target).closest('.newsletter-menu').length) {
        $('.newsletter-menu').hide();
    };
    });

});

</script>

<div class= "container-top">
  <div class="header clearfix">
    <nav>
      <img class="main-logo" alt="bridge-logo" src="images/bridge-logo.svg">
      <h4 class="text-muted">
        <span class="orng-text">Bridge</span> Social Translation for Social Media.
      </h4>

      <ul class="nav nav-pills pull-right">
        <li><a class = "btn-round btn-facebook" href="http://facebook.com/speakbridge" target="_blank"></a></li>
        <li><a class = "btn-round btn-twitter" href="http://twitter.com/speakbridge" target="_blank"></a></li>
        <li><a class = "btn-round btn-newsletter" href="#"></a></li>
        <li><a class = "btn-round btn-up" href="#"></a></li>
      </ul>


          <div class="newsletter-menu">
              <form class="mailchimp validate" action="//meedan.us11.list-manage.com/subscribe/post?u=539fbe59ddc773c6592797bf2&amp;id=16c3bf2018" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
              Signup for our Newsletter!
              <div class="form-group">
                <label for="mce-EMAIL">
                  Email Address
                </label>
                <input type="email" value="" name="EMAIL" class="required email" placeholder="example@example.com" id="mce-EMAIL">
                <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>

                 <!-- Anti-spam honeypot technique -->
                <div style="position: absolute; left: -5000px;">
                  <input type="text" name="b_539fbe59ddc773c6592797bf2_16c3bf2018" tabindex="-1" value="">
                </div>

              <!-- Checkbox -->
                <div class="apply-to-translate">
                <input type="checkbox" value="1" name="group[7069][1]" id="mce-group[7069]-7069-0">
                <label for="mce-group[7069]-7069-0">
                  I'd like to apply to be a Bridge translator.
                </label>
                </div>
                </form>
            </div>
        </nav>
      </div>
</div>


<div class="jumbotron custom-jumbo">
  <div class="container">

    <h1><span class="orng-text">Bridge</span><span class="grey-text"> projects</span></h1>

    <div class="buttons">

      <div class="row learn">
        <a class="btn" href="http://meedan.com/en/bridge" target="_blank" role="button">Learn more</a>
      </div>

      <div class="row start">
        <a class="btn" href="https://docs.google.com/forms/d/18lczlMnluTqfVj8i5VaE4470iuruXymDxCTMcyirnao/viewform?edit_requested=true" target="_blank" role="button">Start Translating</a>
      </div>

      <div class="row see">
        <a class="btn btn-red" href="#ooew" role="button">See our projects &raquo;</a>
      </div>

    </div>
  </div>
</div>



<!-- Project ONE -->

      <div class="jumbotron-narrow">
        <h1 id="ooew"><a href="http://www.outofedenwalk.com/milestones/spotlight/" target ="new">#outofedenwalk</a></h1>
        <h3>with National Geographic</h3>
        <p class="lead">Out of Eden Walk is a 21,000 mile journey led by Pulitzer Prize-winning journalist Paul Salopek as he traces a historic path of human migration.  Every 100 miles, he posts a Milestone with an update about the immediate surroundings. These translations come from social media posts gathered near the location and around the time each Milestone is recorded.</p>

        <p>This feature is produced in collaboration with Meedan, the DOLLY Project, and Translators Without Borders.</p>

        <div class="row avatar-row">
          <img class="translator-avatar" alt="aleksandrejashia" src="images/aleksandrejashia.png">
          <img class="translator-avatar" alt="nildelahaye" src="images/nildelahaye.png">

        </div>
        <div class="row button-row">
          <a class="btn btn-lg btn-success" href="http://www.outofedenwalk.com/milestones/spotlight/" target="new" role="button">Check it out</a>
        </div>
      </div>


<!-- Project TWO: SUEZ -->

      <div class="jumbotron-narrow">
        <h1>Suez Canal</h1>
        <p class="lead">With the opening of the New Suez Canal in Egypt, citizens have responded with satirical hashtags and commentary on the events</p>

        <div class="row avatar-row">
          <img class="translator-avatar" alt="sarah" src="images/sarah.png">

          <img class="translator-avatar" alt="caio" src="images/caiosba.png">

          <img class="translator-avatar" alt="nora" src="images/nora.png">
          <img class="translator-avatar" alt="tom" src="images/tom.png">
        </div>
        <a class="btn btn-lg btn-success" href="https://speakbridge.io/medias/embed/suez-canal/" target ="new" role="button">Check it out</a>
      </div>


<!-- PROJECT THREE -->

  <div class="jumbotron-narrow">
    <h1>Gatos Politicos</h1>
    <p class="lead">A selection of Spanish-speaking political cats for your reading pleasure. =^.^=</p>

    <div class="row avatar-row">
      <img class="translator-avatar" alt="anxiao" src="images/anxiao.png">
      <img class="translator-avatar" alt="caio" src="images/caiosba.png">
      <img class="translator-avatar" alt="marley" src="images/mvlindsey.png">
      <img class="translator-avatar" alt="dorothy" src="images/dsantos.png">
    </div>
    <a class="btn btn-lg btn-success" href="https://speakbridge.io/medias/embed/gatos-politicos/" target="_blank" role="button">Check it out</a>
  </div>


  <!-- Project TWO -->

    <div class="jumbotron-narrow">
      <h1>You Stink &#40;Lebanon&#41;</h1>
      <p class="lead">Online conversations and actions related to protests in Lebanon sparked by the government's failure to clean up waste on the streets.</p>

      <div class="row avatar-row">
        <h4>Translators:</h4>
        <img class="translator-avatar" alt="sarah" src="images/sarah.png">
        <img class="translator-avatar" alt="nora" src="images/nora.png">
        <img class="translator-avatar" alt="tom" src="images/tom.png">
      </div>
      <a class="btn btn-lg btn-success" href="https://speakbridge.io/medias/embed/you-stink-lebanon/" role="button" target="_blank">Check it out</a>
    </div>


  <!-- TESTIMONIALS   -->

      <div class="row marketing">
        <div class="col-sm-3">
          <p>"With Bridge, Meedan hopes to convey the nuances of language that often get lost in the machine translations that the social networks currently use."</p>
          <p><a href="#"><em>Nieman Lab<br>Joseph Lichterman</em></a></p>
        </div>
        <div class="col-sm-3">
          <p>"An innovative way to collect, sort and present the torrent of white noise in social media, finding the human strands that hold together the contemporary human conversation every 100 miles across the world"</p>
          <p><a href="#"><em>National Geographic <br> Paul Salopek</em></a><p>
        </div>
        <!-- <div class="col-sm-3">
          <p></p>
        </div> -->
        <div class="col-sm-3 stacking">
        <a href="https://itunes.apple.com/us/app/bridge-translate-social-media/id1050310015?mt=8" target="_blank"><img src="images/app-store-badge-135x40.svg" alt="app store logo"></a>
        <a href="http://meedan.com" target="_blank"><img class="meedan-logo" alt="meedan-logo" src="images/meedan-logo-nav.svg"></a>
        </div>
      </div>

      <footer>
        <a href="http://meedan.com/en/bridge" target="_blank"><img class="footer-logo" alt="bridge-logo" src="images/bridge-logo.svg"></a>
        <p class="links">
        <a class="tos" href="http://meedan.com/en/bridge/bridge_tos.html" target="_blank">Terms of Service</a>
        &bull;
        <a class="privpolicy" href="http://meedan.com/en/bridge/bridge_privacy.html" target="_blank">Privacy Policy</a>
        </p>
      </footer>
